<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/login.css" />



 </head>
  <body>
    <div class="container">
      <input type="checkbox" id="flip" />
      <div class="cover">
        <div class="front">
          <img src="login.jpg" alt="" />
        </div>
      </div>
      <div class="forms">
        <div class="form-content">
          
          <div class="login-form">
            <form action = "/login" class="login-form" method="POST">
            <div class="title">Login</div>
            <p style="color: blueviolet">Sign in to continue</p>
            <form id="loginForm" action="#">
              <form id="signup-form">
              
                <div class="input-boxes">
                <div class="input-box">
                  <input
                    id="emailInput"
                    type="text"
                    placeholder=".gcit@rub.edu.bt"
                    name="email"
                    required
                  />
              
                  <small id="email-error" class="error"></small>    
                </div>
                <div class="input-box">
                  <input
                    id="passwordInput"
                    type="password"
                    placeholder="Enter your password"
                    name="password"
                    required
                  />
                </div>
                <small id="password" class="error"></small>   
                <div class="text"><a href="#">Forgot password?</a></div>
                <button type="submit" id="login" style="padding: 5px;" class="button"> Login</button>
              </div>
              <div class="text sign-up-text">
                New Here? <a href="/signup">Signup now</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/expressap/postrequest/public/js/loginval.js"></script>
   
  </body>
</html>
