<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main_Dashboard</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/Main_Dashboard.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="flex-row-cff">
        <div class="mlbb-logo"></div>
        <div class="regroup">
          <div class="account-circle" id="accountCircle">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <div class="dropdown-content" id="dropdownContent">
              <a href="profileTeam.html">
                <i class="fa fa-user-circle" aria-hidden="true"></i> Visit
                Profile</a
              >
              <a href="General_dashboard.html">
                <i class="fas fa-sign-out-alt"></i> Logout</a
              >
            </div>
          </div>
        </div>
        <a href="eventmain.html" class="events">Events</a
        ><span class="contact-us">Contact Us</span>
        <a href="About.html" class="about-us">About Us</a>
      </div>
      <div class="rectangle-1">
        <span class="enter-mlbb-arena">ENTER THE MLBB ARENA</span
        ><span class="compete-challenge-dominate"
          >Compete, Challenge, Dominate</span
        ><span class="get-started-mlbb-tournaments"
          >Get started with Mobile Legends: Bang Bang tournaments! Show off your
          skills, team up, and dominate the competition. Join now and let the
          games begin!</span
        >
        <div class="rectangle-2">
          <span class="get-started">Get Started</span>
        </div>
      </div>
      <div class="flex-row">
        <div class="rectangle-3"></div>
        <span class="precision-in-every">Precision in Every Match</span
        ><span class="organized-tournament-format"
          >Organized Tournament Format</span
        >
        <div class="line"></div>
        <span class="elevate-your-gameplay"
          >Elevate your gameplay with our meticulously organized tournament
          format. From structured brackets to fair matchups, we ensure every
          battle is a true test of skill and strategy. Join the ranks of
          professional esports with our seamless and professional tournament
          experience.</span
        >
      </div>
      <div class="flex-row-a">
        <div class="rectangle-4"></div>
        <span class="watch-every-moment">Watch Every Moment Unfold</span
        ><span class="dive-into-live-streaming">Dive into Live Streaming</span>
        <div class="line-5"></div>
        <span class="elevate-your-gameplay-6"
          >Elevate your gameplay with our meticulously organized tournament
          format. From structured brackets to fair matchups, we ensure every
          battle is a true test of skill and strategy. Join the ranks of
          professional esports with our seamless and professional tournament
          experience.</span
        >
      </div>
      <span class="dont-take-our-word-for-it">Don’t Take Our Word For It</span>
      <span class="testimonials">Testimonials</span>
      <div class="line-7"></div>
      <div class="quote-sign">
        <img
          src="https://juliereisler.com/wp-content/uploads/2020/08/Quotation-Mark-PNG-Free-Download-1.png"
          alt=""
          height="70"
          width="70"
        />
      </div>
      <div class="quote-sign-1">
        <img
          src="Quotation-Mark-PNG-Free-Download.png"
          alt=""
          height="70"
          width="70"
        />
      </div>
      <div class="flex-row-aac">
        <div class="fredrick-tendong-unsplash flip-book"></div>
        <div class="regroup">
          <div class="dot" data-testimonial-index="1"></div>
          <div class="dot" data-testimonial-index="2"></div>
          <div class="dot" data-testimonial-index="3"></div>
        </div>
        <div class="format-quote"></div>
        <span class="mobile-legends-testimonial">
          <span class="testimonial" data-testimonial-index="1"
            >Mobile Legends tournaments have always been thrilling, but with the
            addition of live streaming on this platform, the excitement has
            reached new heights! Being able to watch the battles unfold in
            real-time from anywhere is truly game-changing. It's like having a
            front-row seat to the action-packed drama of competitive gaming.
            Highly recommended for all MLBB enthusiasts!</span
          >
          <span class="testimonial" data-testimonial-index="2"
            >Mobile Legends: Bang Bang (MLBB) is a popular multiplayer online
            battle arena (MOBA) game developed and published by Moonton.
            Launched in 2016, it quickly gained widespread popularity,
            especially in Southeast Asia, due to its accessibility, engaging
            gameplay, and vibrant community.</span
          >
          <span class="testimonial" data-testimonial-index="3"
            >Overall, Mobile Legends: Bang Bang has captivated millions of
            players with its accessible yet deep gameplay, vibrant community,
            and thriving esports scene, solidifying its position as a
            cornerstone of mobile gaming culture. With frequent updates and new
            content additions, the game continues to evolve, keeping its player
            base engaged and excited for what's to come.</span
          >
        </span>
        <span class="name">Henry</span>
      </div>

      <div class="rectangle-9">
        <span class="gear-up-glory">Gear Up for Glory: Join the Action</span
        ><span class="ultimate-mlbb-showdown"
          >Unleash Your Skills in the Ultimate MLBB Showdown</span
        >
        <div class="rectangle-a">
          <span class="view-tournaments">View Tournaments</span>
        </div>
      </div>
      <div class="rectangle-b">
        <div class="mlbb-logo-c"></div>
        <div class="flex-row-ad">
          <span class="about-us-d">About Us</span
          ><span class="live-stream">Live Stream</span
          ><span class="events-e">Events</span
          ><span class="profile">Profile</span>
        </div>
        <div class="flex-row-f">
          <div class="baseline-facebook"><div class="vector"></div></div>
          <div class="mdi-instagram"><div class="vector-10"></div></div>
          <div class="youtube-line"><div class="group"></div></div>
          <div class="linkedin-line"><div class="group-11"></div></div>
        </div>
        <div class="line-12"></div>
        <span class="copyright"
          >Copyright © 2024 MLBB Tournament Hosting Website. All rights
          reserved.</span
        >
      </div>
      <div class="group-13"></div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
          $(".flex-row-cff").addClass("scrolled");
        } else {
          $(".flex-row-cff").removeClass("scrolled");
        }
      });
    });

    document.addEventListener("DOMContentLoaded", function () {
      const dots = document.querySelectorAll(".dot");
      const testimonials = document.querySelectorAll(".testimonial");
      const johnWick = document.querySelector(".name");
      const imageContainer = document.querySelector(
        ".fredrick-tendong-unsplash"
      );

      // Initially display testimonial 1
      displayTestimonial(1);

      dots.forEach((dot) => {
        dot.addEventListener("click", function () {
          const index = this.dataset.testimonialIndex;
          displayTestimonial(index);
        });
      });

      function displayTestimonial(index) {
        // Hide all testimonials
        testimonials.forEach((testimonial) => {
          testimonial.classList.remove("active");
        });

        // Show the selected testimonial
        const selectedTestimonial = document.querySelector(
          `.testimonial[data-testimonial-index="${index}"]`
        );
        selectedTestimonial.classList.add("active");

        // Update active state for dots
        dots.forEach((dot) => {
          dot.classList.remove("active");
        });
        document
          .querySelector(`.dot[data-testimonial-index="${index}"]`)
          .classList.add("active");

        if (index === "1") {
          imageContainer.style.backgroundImage =
            "url(https://i.pinimg.com/736x/ea/98/74/ea9874c916043269b44bf65fd15df5ab.jpg)";
          johnWick.textContent = "Henry";
        } else if (index === "2") {
          imageContainer.style.backgroundImage =
            "url(https://wallpapercave.com/wp/wp5263244.jpg)";
          johnWick.textContent = "Jhonson";
        } else if (index === "3") {
          imageContainer.style.backgroundImage =
            "url(https://blogger.googleusercontent.com/img/a/AVvXsEi_hOjtNh4jlqFnnaiwg8Kao6kBsREFpCG1atQ3JgPihzKI6BS--gsmPmRyPC-cM-i1kxiCQXnQylgVSSDNwubGRkRW5WBL3mOUhEmWe0b0afvc2Bg-hfN8hSa6USqc7pvBovbNb-lCtlKIB7sLAcNPM4DDmb7o6JVRXtu6SlKUMBXYpanlZUeYgG8f9Q=w640-h360)";
          johnWick.textContent = "Cecilion";
        } else {
          console.error("Invalid Testimonial Index");
        }
      }
    });

    document
      .getElementById("accountCircle")
      .addEventListener("click", function () {
        document.getElementById("dropdownContent").classList.toggle("show");
      });

    window.onclick = function (event) {
      if (!event.target.matches(".account-circle")) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains("show")) {
            openDropdown.classList.remove("show");
          }
        }
      }
    };

    document.addEventListener("scroll", function () {
      var element = document.querySelector(".group-13");
      var rect = element.getBoundingClientRect();
      var windowHeight =
        window.innerHeight || document.documentElement.clientHeight;

      if (rect.top <= windowHeight && rect.bottom >= 0) {
        element.classList.add("visible");
      } else {
        element.classList.remove("visible");
      }
    });
  </script>
</html>
