<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/signup.css">
</head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="login.jpg" alt="">
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">SignUp</div>
            <p style="color: blueviolet;">Enter details to continue</p>
          <form action="/signup" method="post">
            <p class="nams">Name:</p>
            <div class="input-boxes">
              <div class="input-box">
                <input name="name" type="text" placeholder="Enter Your Name" required>
              </div>
              <p class="emaill">Email:</p>
              <div class="input-box">
                <input name="email" type="email" placeholder=".gcit@rub.edu.bt" required>
              </div>
              <p class="passwords">Password:</p>
            <div class="input-boxes">
              <div class="input-box">
                <input name="password" type="password" placeholder="Enter Your New Password" required>
              </div>
              <p class="confirm">Confirm Password:</p>
              <div class="input-boxes">
                <div class="input-box">
                  <input type="password" placeholder="Confirm Your Password" required>
                </div>


                <button type="submit" class="button">
                  <p >Sign Up</p>
              </button>
                           
              </div>
          
              <div class="text sign-up-text">Already have an account? <a href="/" style="color: blueviolet;">Login Here</a></div>

            </div>
        </form>
      </div>
    </div>
    </div>
    </div>
  </div>

<script src="/public/js/loginval.js"></script>
<script src="/public/js/validation.js"></script>
</body>
</html>